.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container.dark {
    background-color: black;
}

.button {
    color: #ffffff;
    background-color: grey;
    border-radius: 7px;
}